.click-counter {
    margin-bottom: 12rem;
    .content {
        margin-bottom: 4rem;
        max-width: 758px;
        h1 {
            font-weight: bold;
            font-size: 2rem;
            color: #505050;
            letter-spacing: -1px;
        }
        p {
            color: #484848;
            line-height: 1.5;
            text-align: left;
        }
    }

    .clicks-box {
        max-width: 758px;
        margin-bottom: 20px;
        box-shadow: 0 1px 4px #ccc;
        border-radius: 2px;
        padding: 3.5rem;
        background: #fff;
        .clicks {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            color: $blue;
            background-color: white;
            border: 4px solid black;
            font-weight: bold;
            font-size: 2rem;
        }
    }

    .text-note {
        max-width: 758px;
    }
}