.click-counter {
    .content {
        margin-bottom: 4rem;
        max-width: 758px;
        h1 {
            font-weight: bold;
            font-size: 2rem;
            color: #505050;
            letter-spacing: -1px;
        }
        p {
            color: #484848;
            line-height: 1.5;
            text-align: left;
        }
    }
}